
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    background-color: #f3f3f3;
    color: #222;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    text-align: justify;

}

.header {
    padding: 15px 20px 10px 20px;
    background-color: #222;
    color: #fff;

}

.header h1 {
    font-size: 2.5rem;
    font-weight: 600;

}

.header p {
    font-size: 1rem;
}
.header a {
    color: #fff;
}


.features {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 1rem;
    /* max-width: 900px; */
    margin: 1rem;
}

.feature {
    flex: 1 1 calc(33% - 1rem);
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    font-size: 1rem;
    color: #222;
    margin-bottom: 0.5rem;
}

.feature p {
    font-size: 1rem;
    color: #222;
}

footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #666;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.clock {
    position: fixed; /* Fixa o botão na posição */
    bottom: 10px; /* Distância do topo */
    right: 10px; /* Distância da esquerda */
    z-index: 1000; /* Garante que fique acima de outros elementos */
}
.admin-button-fixed {
    position: fixed; /* Fixa o botão na posição */
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da esquerda */
    z-index: 1000; /* Garante que fique acima de outros elementos */
}



article {
    max-width: 900px;
    margin: 1rem;
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #666;
}


.ui-btn {
    --btn-default-bg: rgb(53, 53, 53);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #FAC921;
    --default-btn-color: #fff;
    --font-size: 16px;
    --font-weight: 600;
    --font-family: Menlo,Roboto Mono,monospace;

  }
  
  .close-article {
    position: relative;
    right: 10px;
    top: 1px;
    color: #fff;
    background-color: #333;
    padding: 5px 10px 8px 10px;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
  }
  
  .ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
  .ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }
  
  .ui-btn:hover, .ui-btn:focus {
    background: var(--btn-hover-bg);
  }
  
  .ui-btn:hover span, .ui-btn:focus span {
    color: var(--hover-btn-color);
  }
  
  .ui-btn:hover span::before, .ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
  }
  
  @keyframes chitchat {
    0% {
      content: "#";
    }
  
    5% {
      content: ".";
    }
  
    10% {
      content: "^{";
    }
  
    15% {
      content: "-!";
    }
  
    20% {
      content: "#$_";
    }
  
    25% {
      content: "№:0";
    }
  
    30% {
      content: "#{+.";
    }
  
    35% {
      content: "@}-?";
    }
  
    40% {
      content: "?{4@%";
    }
  
    45% {
      content: "=.,^!";
    }
  
    50% {
      content: "?2@%";
    }
  
    55% {
      content: "\;1}]";
    }
  
    60% {
      content: "?{%:%";
      right: 0;
    }
  
    65% {
      content: "|{f[4";
      right: 0;
    }
  
    70% {
      content: "{4%0%";
      right: 0;
    }
  
    75% {
      content: "'1_0<";
      right: 0;
    }
  
    80% {
      content: "{0%";
      right: 0;
    }
  
    85% {
      content: "]>'";
      right: 0;
    }
  
    90% {
      content: "4";
      right: 0;
    }
  
    95% {
      content: "2";
      right: 0;
    }
  
    100% {
      content: "";
      right: 0;
    }
  }

@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .feature {
        flex: 1 1 100%;
    }
}